.button {
  display: absolute;
  width: 80px;
  height: 30px;
  transition: 1s;
  position: fixed;
  right: 20px;
  top: 20px;
  align-items: flex-end;
  z-index: 110;
  border: 2px solid white;
  background: none;
  text-decoration: none;
  color: white;
  text-align: center;
}

.button:hover {
  color: white;
  transform: scale(1.2);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(153, 153, 153, 0.137);
}
