.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 3, 9);
  position: fixed;
}

.modelWrapper {
  height: 950px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.infoWrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  color: white;
  font-size: large;
}

.infoItem {
  background-color: rgba(78, 78, 78, 0.1);
  transition: 1s;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 15px;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 10px;
}

.infoItem:hover {
  cursor: pointer;
  transform: scale(1.2);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(153, 153, 153, 0.137);
}
