.modal {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 700px;
  padding: 25px;
  color: antiquewhite;
  font-size: large;
  background: rgb(27, 27, 27);
  border-radius: 16px;

  overflow: hidden;
  overflow-y: visible;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
