.wrapper {
  padding: 10px;
}

.comment {
  border: 2px solid rgba(255, 255, 255, 0.329);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.avatar {
  width: 8%;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
